In [1]:
import pandas as pd
import numpy as np

# Manipulando Dados

# Adicionando Colunas

In [2]:
df1 = pd.DataFrame({'Nome': ['Rafael','Ricardo','Ronaldo'],
                    'CPF': ['000.111.222-33','111.222.333-44','222.333.444-66'],
                    'Abr_Curso': ['SI','ADM','DIR']})

In [3]:
df1

      Nome             CPF Abr_Curso
0   Rafael  000.111.222-33        SI
1  Ricardo  111.222.333-44       ADM
2  Ronaldo  222.333.444-66       DIR

In [4]:
df1['Idade'] = np.random.random_integers(80, size=3) + 18

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(1, 80 + 1) instead
  """Entry point for launching an IPython kernel.

In [5]:
df1

      Nome             CPF Abr_Curso  Idade
0   Rafael  000.111.222-33        SI     64
1  Ricardo  111.222.333-44       ADM     62
2  Ronaldo  222.333.444-66       DIR     95

In [6]:
df1['Cidade'] = ['Porto Ferreira', 'Jales', 'Rinópolis']

In [7]:
df1

      Nome             CPF Abr_Curso  Idade          Cidade
0   Rafael  000.111.222-33        SI     64  Porto Ferreira
1  Ricardo  111.222.333-44       ADM     62           Jales
2  Ronaldo  222.333.444-66       DIR     95       Rinópolis

In [8]:
df1['Ano_Nascimento'] = df1['Idade'].apply(lambda x : 2020 - x)

In [9]:
df1

      Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0   Rafael  000.111.222-33        SI     64  Porto Ferreira            1956
1  Ricardo  111.222.333-44       ADM     62           Jales            1958
2  Ronaldo  222.333.444-66       DIR     95       Rinópolis            1925

In [10]:
df2 = pd.read_csv('./carros.csv',sep=';')

In [11]:
df2

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [12]:
df2['Km_Media'] = df2[['Ano','Quilometragem']].apply(lambda x : x['Quilometragem'] / (2020 - x['Ano']) , axis=1).round(2)

In [13]:
df2

                      Nome                  Motor  ...      Valor  Km_Media
0            Jetta Variant        Motor 4.0 Turbo  ...   88078.64   2612.35
1                   Passat           Motor Diesel  ...  106161.94    196.97
2                 Crossfox        Motor Diesel V8  ...   72832.16   1237.43
3                      DS5        Motor 2.4 Turbo  ...  124549.07       NaN
4         Aston Martin DB4        Motor 2.4 Turbo  ...   92612.10   1839.79
..                     ...                    ...  ...        ...       ...
253           Phantom 2013               Motor V8  ...   51759.58   4584.17
254  Cadillac Ciel concept               Motor V8  ...   51667.06   1033.83
255             Classe GLK  Motor 5.0 V8 Bi-Turbo  ...   68934.03   2924.28
256       Aston Martin DB5           Motor Diesel  ...  122110.90    320.21
257                  Macan        Motor Diesel V6  ...   90381.47   1792.43

[258 rows x 8 columns]

In [14]:
df3 = df1.copy()

In [15]:
df3

      Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0   Rafael  000.111.222-33        SI     64  Porto Ferreira            1956
1  Ricardo  111.222.333-44       ADM     62           Jales            1958
2  Ronaldo  222.333.444-66       DIR     95       Rinópolis            1925

In [16]:
df4 = pd.DataFrame({'Média_Limpa':[10.0, 8.0, 7.5],
                    'Média_Suja': [10.0, 7.5, 6.0]})

In [17]:
df4

   Média_Limpa  Média_Suja
0         10.0        10.0
1          8.0         7.5
2          7.5         6.0

In [18]:
df3 = pd.concat([df3,df4],axis=1)

In [19]:
df3

      Nome             CPF Abr_Curso  ...  Ano_Nascimento Média_Limpa  Média_Suja
0   Rafael  000.111.222-33        SI  ...            1956        10.0        10.0
1  Ricardo  111.222.333-44       ADM  ...            1958         8.0         7.5
2  Ronaldo  222.333.444-66       DIR  ...            1925         7.5         6.0

[3 rows x 8 columns]

In [20]:
df1

      Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0   Rafael  000.111.222-33        SI     64  Porto Ferreira            1956
1  Ricardo  111.222.333-44       ADM     62           Jales            1958
2  Ronaldo  222.333.444-66       DIR     95       Rinópolis            1925

In [21]:
df5 = pd.DataFrame({'Abr_Curso': ['SI','ADM','DIR','CONT', 'MED'],
                    'Nome_Curso': ['Sistemas de Informação','Administração','Direito','Contabilidade','Medicina']})

In [22]:
df5

  Abr_Curso              Nome_Curso
0        SI  Sistemas de Informação
1       ADM           Administração
2       DIR                 Direito
3      CONT           Contabilidade
4       MED                Medicina

In [23]:
df1

      Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0   Rafael  000.111.222-33        SI     64  Porto Ferreira            1956
1  Ricardo  111.222.333-44       ADM     62           Jales            1958
2  Ronaldo  222.333.444-66       DIR     95       Rinópolis            1925

In [24]:
df1.merge(df5, left_on='Abr_Curso', right_on='Abr_Curso')

      Nome             CPF  ... Ano_Nascimento              Nome_Curso
0   Rafael  000.111.222-33  ...           1956  Sistemas de Informação
1  Ricardo  111.222.333-44  ...           1958           Administração
2  Ronaldo  222.333.444-66  ...           1925                 Direito

[3 rows x 7 columns]

## Adicionar Linhas

In [25]:
df1

      Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0   Rafael  000.111.222-33        SI     64  Porto Ferreira            1956
1  Ricardo  111.222.333-44       ADM     62           Jales            1958
2  Ronaldo  222.333.444-66       DIR     95       Rinópolis            1925

In [26]:
df1 = df1.append({'Nome': 'Messi', 'CPF': '333.444.555-66',
            'Abr_Curso': 'MED', 'Idade': 35, 'Cidade': 'Barcelona', 'Ano_Nascimento': 1988},ignore_index=True)

In [27]:
df1 = df1.append([{'Nome': 'Firmino', 'CPF': '444.555.666-77',
            'Abr_Curso': 'CONT', 'Idade': 45, 'Cidade': 'Liverpool'},
            {'Nome': 'Mané', 'CPF': '555.666.777-88',
            'Abr_Curso': 'DIR', 'Idade': 32, 'Cidade': 'Liverpool'}]
            ,ignore_index=True)

In [28]:
df1

      Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0   Rafael  000.111.222-33        SI     64  Porto Ferreira          1956.0
1  Ricardo  111.222.333-44       ADM     62           Jales          1958.0
2  Ronaldo  222.333.444-66       DIR     95       Rinópolis          1925.0
3    Messi  333.444.555-66       MED     35       Barcelona          1988.0
4  Firmino  444.555.666-77      CONT     45       Liverpool             NaN
5     Mané  555.666.777-88       DIR     32       Liverpool             NaN

In [29]:
df1 = df1.append([pd.Series(['Mané', '555.666.777-88', 'DIR', 32, 'Liverpool', '1985'], index=df1.columns),
                  pd.Series(['Salah', '555.666.777-88', 'SI', 33, 'Liverpool', '1989'], index=df1.columns) ], ignore_index=True)

In [30]:
df1

      Nome             CPF Abr_Curso  Idade          Cidade Ano_Nascimento
0   Rafael  000.111.222-33        SI     64  Porto Ferreira           1956
1  Ricardo  111.222.333-44       ADM     62           Jales           1958
2  Ronaldo  222.333.444-66       DIR     95       Rinópolis           1925
3    Messi  333.444.555-66       MED     35       Barcelona           1988
4  Firmino  444.555.666-77      CONT     45       Liverpool            NaN
5     Mané  555.666.777-88       DIR     32       Liverpool            NaN
6     Mané  555.666.777-88       DIR     32       Liverpool           1985
7    Salah  555.666.777-88        SI     33       Liverpool           1989

In [31]:
df5 = pd.DataFrame({'Nome': ['Willian','Coutinho'],
                    'CPF': ['666.777.888-99','999.888.777-66'], 
                    'Abr_Curso': ['MED','ADM'],
                    'Idade': [29,27],
                    'Cidade': ['Londres','Barcelona'],
                    'Ano_Nascimento': [1990,1991]})

In [32]:
df5

       Nome             CPF Abr_Curso  Idade     Cidade  Ano_Nascimento
0   Willian  666.777.888-99       MED     29    Londres            1990
1  Coutinho  999.888.777-66       ADM     27  Barcelona            1991

In [33]:
df1 = df1.append(df5)

In [34]:
df1

       Nome             CPF Abr_Curso  Idade          Cidade Ano_Nascimento
0    Rafael  000.111.222-33        SI     64  Porto Ferreira           1956
1   Ricardo  111.222.333-44       ADM     62           Jales           1958
2   Ronaldo  222.333.444-66       DIR     95       Rinópolis           1925
3     Messi  333.444.555-66       MED     35       Barcelona           1988
4   Firmino  444.555.666-77      CONT     45       Liverpool            NaN
5      Mané  555.666.777-88       DIR     32       Liverpool            NaN
6      Mané  555.666.777-88       DIR     32       Liverpool           1985
7     Salah  555.666.777-88        SI     33       Liverpool           1989
0   Willian  666.777.888-99       MED     29         Londres           1990
1  Coutinho  999.888.777-66       ADM     27       Barcelona           1991

In [35]:
pd.concat([df1,df5])

       Nome             CPF Abr_Curso  Idade          Cidade Ano_Nascimento
0    Rafael  000.111.222-33        SI     64  Porto Ferreira           1956
1   Ricardo  111.222.333-44       ADM     62           Jales           1958
2   Ronaldo  222.333.444-66       DIR     95       Rinópolis           1925
3     Messi  333.444.555-66       MED     35       Barcelona           1988
4   Firmino  444.555.666-77      CONT     45       Liverpool            NaN
5      Mané  555.666.777-88       DIR     32       Liverpool            NaN
6      Mané  555.666.777-88       DIR     32       Liverpool           1985
7     Salah  555.666.777-88        SI     33       Liverpool           1989
0   Willian  666.777.888-99       MED     29         Londres           1990
1  Coutinho  999.888.777-66       ADM     27       Barcelona           1991
0   Willian  666.777.888-99       MED     29         Londres           1990
1  Coutinho  999.888.777-66       ADM     27       Barcelona           1991

In [36]:
df1.loc[9] = ['Rafael','000.111.222-33','SI',23,'Porto Ferreira',1997]

In [37]:
df1

       Nome             CPF Abr_Curso  Idade          Cidade Ano_Nascimento
0    Rafael  000.111.222-33        SI     64  Porto Ferreira           1956
1   Ricardo  111.222.333-44       ADM     62           Jales           1958
2   Ronaldo  222.333.444-66       DIR     95       Rinópolis           1925
3     Messi  333.444.555-66       MED     35       Barcelona           1988
4   Firmino  444.555.666-77      CONT     45       Liverpool            NaN
5      Mané  555.666.777-88       DIR     32       Liverpool            NaN
6      Mané  555.666.777-88       DIR     32       Liverpool           1985
7     Salah  555.666.777-88        SI     33       Liverpool           1989
0   Willian  666.777.888-99       MED     29         Londres           1990
1  Coutinho  999.888.777-66       ADM     27       Barcelona           1991
9    Rafael  000.111.222-33        SI     23  Porto Ferreira           1997

## Substituições

In [38]:
df1['Idade'] = np.random.randint(22,size=len(df1)) + 18

In [39]:
df1

       Nome             CPF Abr_Curso  Idade          Cidade Ano_Nascimento
0    Rafael  000.111.222-33        SI     31  Porto Ferreira           1956
1   Ricardo  111.222.333-44       ADM     29           Jales           1958
2   Ronaldo  222.333.444-66       DIR     38       Rinópolis           1925
3     Messi  333.444.555-66       MED     19       Barcelona           1988
4   Firmino  444.555.666-77      CONT     30       Liverpool            NaN
5      Mané  555.666.777-88       DIR     39       Liverpool            NaN
6      Mané  555.666.777-88       DIR     39       Liverpool           1985
7     Salah  555.666.777-88        SI     26       Liverpool           1989
0   Willian  666.777.888-99       MED     28         Londres           1990
1  Coutinho  999.888.777-66       ADM     24       Barcelona           1991
9    Rafael  000.111.222-33        SI     28  Porto Ferreira           1997

In [40]:
df1['Ano_Nascimento'] = df1['Idade'].apply(lambda x : 2020 - x)

In [41]:
df1

       Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0    Rafael  000.111.222-33        SI     31  Porto Ferreira            1989
1   Ricardo  111.222.333-44       ADM     29           Jales            1991
2   Ronaldo  222.333.444-66       DIR     38       Rinópolis            1982
3     Messi  333.444.555-66       MED     19       Barcelona            2001
4   Firmino  444.555.666-77      CONT     30       Liverpool            1990
5      Mané  555.666.777-88       DIR     39       Liverpool            1981
6      Mané  555.666.777-88       DIR     39       Liverpool            1981
7     Salah  555.666.777-88        SI     26       Liverpool            1994
0   Willian  666.777.888-99       MED     28         Londres            1992
1  Coutinho  999.888.777-66       ADM     24       Barcelona            1996
9    Rafael  000.111.222-33        SI     28  Porto Ferreira            1992

In [42]:
df1.loc[9] = ['Rogério','777.666.555-44','CONT',20,'Jales',	2000]

In [43]:
df1

       Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0    Rafael  000.111.222-33        SI     31  Porto Ferreira            1989
1   Ricardo  111.222.333-44       ADM     29           Jales            1991
2   Ronaldo  222.333.444-66       DIR     38       Rinópolis            1982
3     Messi  333.444.555-66       MED     19       Barcelona            2001
4   Firmino  444.555.666-77      CONT     30       Liverpool            1990
5      Mané  555.666.777-88       DIR     39       Liverpool            1981
6      Mané  555.666.777-88       DIR     39       Liverpool            1981
7     Salah  555.666.777-88        SI     26       Liverpool            1994
0   Willian  666.777.888-99       MED     28         Londres            1992
1  Coutinho  999.888.777-66       ADM     24       Barcelona            1996
9   Rogério  777.666.555-44      CONT     20           Jales            2000

In [44]:
df1.iloc[9] = ['Abelardo','666.555.444-33','CONT',20,'Jales',	2000]

In [45]:
df1

       Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0    Rafael  000.111.222-33        SI     31  Porto Ferreira            1989
1   Ricardo  111.222.333-44       ADM     29           Jales            1991
2   Ronaldo  222.333.444-66       DIR     38       Rinópolis            1982
3     Messi  333.444.555-66       MED     19       Barcelona            2001
4   Firmino  444.555.666-77      CONT     30       Liverpool            1990
5      Mané  555.666.777-88       DIR     39       Liverpool            1981
6      Mané  555.666.777-88       DIR     39       Liverpool            1981
7     Salah  555.666.777-88        SI     26       Liverpool            1994
0   Willian  666.777.888-99       MED     28         Londres            1992
1  Abelardo  666.555.444-33      CONT     20           Jales            2000
9   Rogério  777.666.555-44      CONT     20           Jales            2000

# Apagando dados

In [46]:
df1

       Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0    Rafael  000.111.222-33        SI     31  Porto Ferreira            1989
1   Ricardo  111.222.333-44       ADM     29           Jales            1991
2   Ronaldo  222.333.444-66       DIR     38       Rinópolis            1982
3     Messi  333.444.555-66       MED     19       Barcelona            2001
4   Firmino  444.555.666-77      CONT     30       Liverpool            1990
5      Mané  555.666.777-88       DIR     39       Liverpool            1981
6      Mané  555.666.777-88       DIR     39       Liverpool            1981
7     Salah  555.666.777-88        SI     26       Liverpool            1994
0   Willian  666.777.888-99       MED     28         Londres            1992
1  Abelardo  666.555.444-33      CONT     20           Jales            2000
9   Rogério  777.666.555-44      CONT     20           Jales            2000

In [47]:
df6 = df1.copy()

In [48]:
df6

       Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0    Rafael  000.111.222-33        SI     31  Porto Ferreira            1989
1   Ricardo  111.222.333-44       ADM     29           Jales            1991
2   Ronaldo  222.333.444-66       DIR     38       Rinópolis            1982
3     Messi  333.444.555-66       MED     19       Barcelona            2001
4   Firmino  444.555.666-77      CONT     30       Liverpool            1990
5      Mané  555.666.777-88       DIR     39       Liverpool            1981
6      Mané  555.666.777-88       DIR     39       Liverpool            1981
7     Salah  555.666.777-88        SI     26       Liverpool            1994
0   Willian  666.777.888-99       MED     28         Londres            1992
1  Abelardo  666.555.444-33      CONT     20           Jales            2000
9   Rogério  777.666.555-44      CONT     20           Jales            2000

In [49]:
df6.drop(labels=[0,9], inplace=True)

In [50]:
df6

       Nome             CPF Abr_Curso  Idade     Cidade  Ano_Nascimento
1   Ricardo  111.222.333-44       ADM     29      Jales            1991
2   Ronaldo  222.333.444-66       DIR     38  Rinópolis            1982
3     Messi  333.444.555-66       MED     19  Barcelona            2001
4   Firmino  444.555.666-77      CONT     30  Liverpool            1990
5      Mané  555.666.777-88       DIR     39  Liverpool            1981
6      Mané  555.666.777-88       DIR     39  Liverpool            1981
7     Salah  555.666.777-88        SI     26  Liverpool            1994
1  Abelardo  666.555.444-33      CONT     20      Jales            2000

In [51]:
df6.drop(labels=['Ano_Nascimento'], axis=1, inplace=True)

In [52]:
df6

       Nome             CPF Abr_Curso  Idade     Cidade
1   Ricardo  111.222.333-44       ADM     29      Jales
2   Ronaldo  222.333.444-66       DIR     38  Rinópolis
3     Messi  333.444.555-66       MED     19  Barcelona
4   Firmino  444.555.666-77      CONT     30  Liverpool
5      Mané  555.666.777-88       DIR     39  Liverpool
6      Mané  555.666.777-88       DIR     39  Liverpool
7     Salah  555.666.777-88        SI     26  Liverpool
1  Abelardo  666.555.444-33      CONT     20      Jales

In [53]:
df6.drop(index=[1,4], inplace=True)

In [54]:
df6

      Nome             CPF Abr_Curso  Idade     Cidade
2  Ronaldo  222.333.444-66       DIR     38  Rinópolis
3    Messi  333.444.555-66       MED     19  Barcelona
5     Mané  555.666.777-88       DIR     39  Liverpool
6     Mané  555.666.777-88       DIR     39  Liverpool
7    Salah  555.666.777-88        SI     26  Liverpool

In [55]:
df6.drop(columns=['Abr_Curso','Idade'], inplace=True)

In [56]:
df6

      Nome             CPF     Cidade
2  Ronaldo  222.333.444-66  Rinópolis
3    Messi  333.444.555-66  Barcelona
5     Mané  555.666.777-88  Liverpool
6     Mané  555.666.777-88  Liverpool
7    Salah  555.666.777-88  Liverpool

In [57]:
df6 = pd.read_csv('./carros.csv',sep=';')

In [58]:
df6

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [59]:
selecao = df6['Ano'] >= 2015

In [60]:
~selecao

0       True
1       True
2       True
3      False
4       True
       ...
253     True
254     True
255     True
256     True
257     True
Name: Ano, Length: 258, dtype: bool

In [61]:
df6[~selecao]

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[169 rows x 7 columns]

In [62]:
df7 = df1.copy()

In [63]:
df7

       Nome             CPF Abr_Curso  Idade          Cidade  Ano_Nascimento
0    Rafael  000.111.222-33        SI     31  Porto Ferreira            1989
1   Ricardo  111.222.333-44       ADM     29           Jales            1991
2   Ronaldo  222.333.444-66       DIR     38       Rinópolis            1982
3     Messi  333.444.555-66       MED     19       Barcelona            2001
4   Firmino  444.555.666-77      CONT     30       Liverpool            1990
5      Mané  555.666.777-88       DIR     39       Liverpool            1981
6      Mané  555.666.777-88       DIR     39       Liverpool            1981
7     Salah  555.666.777-88        SI     26       Liverpool            1994
0   Willian  666.777.888-99       MED     28         Londres            1992
1  Abelardo  666.555.444-33      CONT     20           Jales            2000
9   Rogério  777.666.555-44      CONT     20           Jales            2000

In [64]:
del df7['Ano_Nascimento']

In [65]:
df7 = df7[['Nome','CPF']]

In [66]:
df7

       Nome             CPF
0    Rafael  000.111.222-33
1   Ricardo  111.222.333-44
2   Ronaldo  222.333.444-66
3     Messi  333.444.555-66
4   Firmino  444.555.666-77
5      Mané  555.666.777-88
6      Mané  555.666.777-88
7     Salah  555.666.777-88
0   Willian  666.777.888-99
1  Abelardo  666.555.444-33
9   Rogério  777.666.555-44

# Alterando Índices

In [67]:
df7['Ano Nascimento'] = np.random.randint(40, size = len(df7)) + 1980

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
df7

       Nome             CPF  Ano Nascimento
0    Rafael  000.111.222-33            2010
1   Ricardo  111.222.333-44            1999
2   Ronaldo  222.333.444-66            2005
3     Messi  333.444.555-66            2016
4   Firmino  444.555.666-77            1981
5      Mané  555.666.777-88            2006
6      Mané  555.666.777-88            2018
7     Salah  555.666.777-88            2008
0   Willian  666.777.888-99            2010
1  Abelardo  666.555.444-33            2014
9   Rogério  777.666.555-44            1980

In [69]:
df8 = df7.copy()

In [70]:
df8

       Nome             CPF  Ano Nascimento
0    Rafael  000.111.222-33            2010
1   Ricardo  111.222.333-44            1999
2   Ronaldo  222.333.444-66            2005
3     Messi  333.444.555-66            2016
4   Firmino  444.555.666-77            1981
5      Mané  555.666.777-88            2006
6      Mané  555.666.777-88            2018
7     Salah  555.666.777-88            2008
0   Willian  666.777.888-99            2010
1  Abelardo  666.555.444-33            2014
9   Rogério  777.666.555-44            1980

In [71]:
df8.reset_index(inplace=True)

In [72]:
df8.drop(columns=['index'], inplace=True)

In [73]:
df8

        Nome             CPF  Ano Nascimento
0     Rafael  000.111.222-33            2010
1    Ricardo  111.222.333-44            1999
2    Ronaldo  222.333.444-66            2005
3      Messi  333.444.555-66            2016
4    Firmino  444.555.666-77            1981
5       Mané  555.666.777-88            2006
6       Mané  555.666.777-88            2018
7      Salah  555.666.777-88            2008
8    Willian  666.777.888-99            2010
9   Abelardo  666.555.444-33            2014
10   Rogério  777.666.555-44            1980

In [74]:
df8.index

RangeIndex(start=0, stop=11, step=1)

In [75]:
df8.index = np.random.randint(100, size = len(df8))

In [76]:
df8

        Nome             CPF  Ano Nascimento
63    Rafael  000.111.222-33            2010
37   Ricardo  111.222.333-44            1999
19   Ronaldo  222.333.444-66            2005
66     Messi  333.444.555-66            2016
44   Firmino  444.555.666-77            1981
55      Mané  555.666.777-88            2006
44      Mané  555.666.777-88            2018
32     Salah  555.666.777-88            2008
27   Willian  666.777.888-99            2010
96  Abelardo  666.555.444-33            2014
0    Rogério  777.666.555-44            1980

In [77]:
df8.index = np.arange(11)

In [78]:
df8

        Nome             CPF  Ano Nascimento
0     Rafael  000.111.222-33            2010
1    Ricardo  111.222.333-44            1999
2    Ronaldo  222.333.444-66            2005
3      Messi  333.444.555-66            2016
4    Firmino  444.555.666-77            1981
5       Mané  555.666.777-88            2006
6       Mané  555.666.777-88            2018
7      Salah  555.666.777-88            2008
8    Willian  666.777.888-99            2010
9   Abelardo  666.555.444-33            2014
10   Rogério  777.666.555-44            1980

In [79]:
df8.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [80]:
df8.index = df8.CPF

In [81]:
df8

                    Nome             CPF  Ano Nascimento
CPF
000.111.222-33    Rafael  000.111.222-33            2010
111.222.333-44   Ricardo  111.222.333-44            1999
222.333.444-66   Ronaldo  222.333.444-66            2005
333.444.555-66     Messi  333.444.555-66            2016
444.555.666-77   Firmino  444.555.666-77            1981
555.666.777-88      Mané  555.666.777-88            2006
555.666.777-88      Mané  555.666.777-88            2018
555.666.777-88     Salah  555.666.777-88            2008
666.777.888-99   Willian  666.777.888-99            2010
666.555.444-33  Abelardo  666.555.444-33            2014
777.666.555-44   Rogério  777.666.555-44            1980

In [82]:
df8.loc['111.222.333-44']

Nome                     Ricardo
CPF               111.222.333-44
Ano Nascimento              1999
Name: 111.222.333-44, dtype: object

In [83]:
df7

       Nome             CPF  Ano Nascimento
0    Rafael  000.111.222-33            2010
1   Ricardo  111.222.333-44            1999
2   Ronaldo  222.333.444-66            2005
3     Messi  333.444.555-66            2016
4   Firmino  444.555.666-77            1981
5      Mané  555.666.777-88            2006
6      Mané  555.666.777-88            2018
7     Salah  555.666.777-88            2008
0   Willian  666.777.888-99            2010
1  Abelardo  666.555.444-33            2014
9   Rogério  777.666.555-44            1980

In [84]:
df7.columns

Index(['Nome', 'CPF', 'Ano Nascimento'], dtype='object')

In [85]:
df7.columns = ['Nome','CPF','Ano_Nasc']

In [86]:
df7

       Nome             CPF  Ano_Nasc
0    Rafael  000.111.222-33      2010
1   Ricardo  111.222.333-44      1999
2   Ronaldo  222.333.444-66      2005
3     Messi  333.444.555-66      2016
4   Firmino  444.555.666-77      1981
5      Mané  555.666.777-88      2006
6      Mané  555.666.777-88      2018
7     Salah  555.666.777-88      2008
0   Willian  666.777.888-99      2010
1  Abelardo  666.555.444-33      2014
9   Rogério  777.666.555-44      1980

In [87]:
df7.rename({'CPF':'Cad_Pessoa_Física'},axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [88]:
df7

       Nome Cad_Pessoa_Física  Ano_Nasc
0    Rafael    000.111.222-33      2010
1   Ricardo    111.222.333-44      1999
2   Ronaldo    222.333.444-66      2005
3     Messi    333.444.555-66      2016
4   Firmino    444.555.666-77      1981
5      Mané    555.666.777-88      2006
6      Mané    555.666.777-88      2018
7     Salah    555.666.777-88      2008
0   Willian    666.777.888-99      2010
1  Abelardo    666.555.444-33      2014
9   Rogério    777.666.555-44      1980

In [89]:
df7.rename({7:17}, axis=0, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [90]:
df7

        Nome Cad_Pessoa_Física  Ano_Nasc
0     Rafael    000.111.222-33      2010
1    Ricardo    111.222.333-44      1999
2    Ronaldo    222.333.444-66      2005
3      Messi    333.444.555-66      2016
4    Firmino    444.555.666-77      1981
5       Mané    555.666.777-88      2006
6       Mané    555.666.777-88      2018
17     Salah    555.666.777-88      2008
0    Willian    666.777.888-99      2010
1   Abelardo    666.555.444-33      2014
9    Rogério    777.666.555-44      1980

In [91]:
df7.rename(columns={'Cad_Pessoa_Física':'CPF'}, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [92]:
df7

        Nome             CPF  Ano_Nasc
0     Rafael  000.111.222-33      2010
1    Ricardo  111.222.333-44      1999
2    Ronaldo  222.333.444-66      2005
3      Messi  333.444.555-66      2016
4    Firmino  444.555.666-77      1981
5       Mané  555.666.777-88      2006
6       Mané  555.666.777-88      2018
17     Salah  555.666.777-88      2008
0    Willian  666.777.888-99      2010
1   Abelardo  666.555.444-33      2014
9    Rogério  777.666.555-44      1980

# Ordenação

In [93]:
df6

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [94]:
df6.sort_index(axis=1, ascending=True)

                                            Acessórios  ...  Zero_km
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...  ...    False
1    ['Central multimídia', 'Teto panorâmico', 'Fre...  ...    False
2    ['Piloto automático', 'Controle de estabilidad...  ...    False
3    ['Travas elétricas', '4 X 4', 'Vidros elétrico...  ...     True
4    ['Rodas de liga', '4 X 4', 'Central multimídia...  ...    False
..                                                 ...  ...      ...
253  ['Controle de estabilidade', 'Piloto automátic...  ...    False
254  ['Bancos de couro', 'Painel digital', 'Sensor ...  ...    False
255  ['Rodas de liga', 'Controle de tração', 'Câmbi...  ...    False
256  ['Ar condicionado', '4 X 4', 'Câmbio automátic...  ...    False
257  ['Central multimídia', 'Teto panorâmico', 'Vid...  ...    False

[258 rows x 7 columns]

In [95]:
df6

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [96]:
df6.sort_values(by=['Ano','Valor'], ascending=(False,True)).head(n=20)

                     Nome  ...     Valor
79                 Livina  ...  50742.10
36             Pajero TR4  ...  51606.59
13                     J5  ...  53183.38
6                      A5  ...  56445.20
177            C3 Picasso  ...  56453.94
186                    T6  ...  56842.79
204                 Sedan  ...  57888.10
130             Classe CL  ...  58525.41
143  Phantom I Phantom II  ...  60948.01
126                 R8 GT  ...  62999.02
84                  Hilux  ...  64507.72
48                   CR-V  ...  64701.10
66                Touareg  ...  66526.61
237          Série 7 Sedã  ...  67539.79
238  Lamborghini Reventón  ...  67664.86
25                    Up!  ...  71367.10
248                  XC60  ...  77675.79
116           Z4 Roadster  ...  80382.24
60                Sorento  ...  81399.35
159           L200 Triton  ...  81999.21

[20 rows x 7 columns]

In [97]:
df6.sort_values(by=['Quilometragem'],na_position='first').head(n=10)

                      Nome  ...      Valor
3                      DS5  ...  124549.07
6                       A5  ...   56445.20
13                      J5  ...   53183.38
17                      A3  ...   88552.39
21               Série 1 M  ...   94564.40
24  Lamborghini Murciélago  ...  121596.21
25                     Up!  ...   71367.10
27         Sandero Stepway  ...  105432.84
36              Pajero TR4  ...   51606.59
37              Polo Sedan  ...  123281.87

[10 rows x 7 columns]

In [98]:
df7 = df6.copy()
df7.replace({None : 0}, inplace=True)
df7.sort_values(by=['Quilometragem'],na_position='first').head(n=10)

                    Nome  ...      Valor
130            Classe CL  ...   58525.41
116          Z4 Roadster  ...   80382.24
37            Polo Sedan  ...  123281.87
39                   S60  ...  102609.54
132  Aston Martin Cygnet  ...  147770.87
42                Optima  ...   86641.34
84                 Hilux  ...   64507.72
44     Range Rover Vogue  ...  117626.73
114                   Q3  ...  114727.68
189  Aston Martin Virage  ...   97290.18

[10 rows x 7 columns]

In [99]:
df7.head(n=10)

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10
5     Palio Weekend  ...   97497.73
6                A5  ...   56445.20
7    Série 3 Cabrio  ...  112310.44
8      Dodge Jorney  ...  120716.27
9            Carens  ...   76566.49

[10 rows x 7 columns]

In [100]:
df7.replace(['Jetta Variant','Passat','Crossfox'],'WV').head(n=10)

               Nome  ...      Valor
0                WV  ...   88078.64
1                WV  ...  106161.94
2                WV  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10
5     Palio Weekend  ...   97497.73
6                A5  ...   56445.20
7    Série 3 Cabrio  ...  112310.44
8      Dodge Jorney  ...  120716.27
9            Carens  ...   76566.49

[10 rows x 7 columns]

In [101]:
df7.head(n=10)

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10
5     Palio Weekend  ...   97497.73
6                A5  ...   56445.20
7    Série 3 Cabrio  ...  112310.44
8      Dodge Jorney  ...  120716.27
9            Carens  ...   76566.49

[10 rows x 7 columns]

In [102]:
df7.replace(regex='Palio.*', value='Palio').head(n=10)

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10
5             Palio  ...   97497.73
6                A5  ...   56445.20
7    Série 3 Cabrio  ...  112310.44
8      Dodge Jorney  ...  120716.27
9            Carens  ...   76566.49

[10 rows x 7 columns]

# Tratando Dados

In [103]:
df6

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [105]:
df6.sort_values(by=['Quilometragem'], na_position='first').head(n=20)

                      Nome  ...      Valor
3                      DS5  ...  124549.07
6                       A5  ...   56445.20
13                      J5  ...   53183.38
17                      A3  ...   88552.39
21               Série 1 M  ...   94564.40
24  Lamborghini Murciélago  ...  121596.21
25                     Up!  ...   71367.10
27         Sandero Stepway  ...  105432.84
36              Pajero TR4  ...   51606.59
37              Polo Sedan  ...  123281.87
39                     S60  ...  102609.54
42                  Optima  ...   86641.34
44       Range Rover Vogue  ...  117626.73
48                    CR-V  ...   64701.10
57                     CLA  ...  133329.19
58                  Accord  ...  131961.43
59             EXTRA 103EX  ...  112033.27
60                 Sorento  ...   81399.35
61                   Tiggo  ...   97163.10
66                 Touareg  ...   66526.61

[20 rows x 7 columns]

In [106]:
df6.dropna()

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]

In [108]:
df6.dropna(subset=['Quilometragem','Valor'])

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [110]:
df6.sort_values(by=['Quilometragem'], na_position='first').fillna(0).head(n=20)

                      Nome  ...      Valor
3                      DS5  ...  124549.07
6                       A5  ...   56445.20
13                      J5  ...   53183.38
17                      A3  ...   88552.39
21               Série 1 M  ...   94564.40
24  Lamborghini Murciélago  ...  121596.21
25                     Up!  ...   71367.10
27         Sandero Stepway  ...  105432.84
36              Pajero TR4  ...   51606.59
37              Polo Sedan  ...  123281.87
39                     S60  ...  102609.54
42                  Optima  ...   86641.34
44       Range Rover Vogue  ...  117626.73
48                    CR-V  ...   64701.10
57                     CLA  ...  133329.19
58                  Accord  ...  131961.43
59             EXTRA 103EX  ...  112033.27
60                 Sorento  ...   81399.35
61                   Tiggo  ...   97163.10
66                 Touareg  ...   66526.61

[20 rows x 7 columns]

In [111]:
df6.fillna({'Quilometragem':0, 'Valor':20000.0})

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [113]:
df8 = pd.DataFrame({'Nome': ['Rafael','Ricardo','Ronaldo','Vitor'],
                    'Profissão': ['Professor','Professor','Diretor','Desenvolvedor'],
                    'Salário': [3500,None,8000,2500]})

In [114]:
df8

      Nome      Profissão  Salário
0   Rafael      Professor   3500.0
1  Ricardo      Professor      NaN
2  Ronaldo        Diretor   8000.0
3    Vitor  Desenvolvedor   2500.0

In [120]:
df8 = df8.interpolate(method='nearest')

In [123]:
df8.loc[4] = ['Rafael','Professor',3500]

In [124]:
df8

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
2  Ronaldo        Diretor    8000
3    Vitor  Desenvolvedor    2500
4   Rafael      Professor    3500

In [125]:
df8.drop_duplicates()

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
2  Ronaldo        Diretor    8000
3    Vitor  Desenvolvedor    2500

In [126]:
df8

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
2  Ronaldo        Diretor    8000
3    Vitor  Desenvolvedor    2500
4   Rafael      Professor    3500

In [129]:
df8.loc[4] = ['Rafael','Lavador',5000]

In [130]:
df8

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
2  Ronaldo        Diretor    8000
3    Vitor  Desenvolvedor    2500
4   Rafael        Lavador    5000

In [131]:
df8.drop_duplicates(subset=['Nome'])

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
2  Ronaldo        Diretor    8000
3    Vitor  Desenvolvedor    2500

In [132]:
df8.drop_duplicates()

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
2  Ronaldo        Diretor    8000
3    Vitor  Desenvolvedor    2500
4   Rafael        Lavador    5000

In [133]:
df8.replace('Rafael', 'Rafael Rossi')

           Nome      Profissão  Salário
0  Rafael Rossi      Professor   3500.0
1       Ricardo      Professor   3500.0
2       Ronaldo        Diretor   8000.0
3         Vitor  Desenvolvedor   2500.0
4  Rafael Rossi        Lavador   5000.0

In [134]:
df6

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [135]:
df6.replace({None : 0})

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [136]:
df8

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
2  Ronaldo        Diretor    8000
3    Vitor  Desenvolvedor    2500
4   Rafael        Lavador    5000

In [137]:
df8.replace(['Professor','Lavador'],'Categoria C')

      Nome      Profissão  Salário
0   Rafael    Categoria C   3500.0
1  Ricardo    Categoria C   3500.0
2  Ronaldo        Diretor   8000.0
3    Vitor  Desenvolvedor   2500.0
4   Rafael    Categoria C   5000.0

In [139]:
df8.replace(regex='D.*',value='Categoria A')

      Nome    Profissão  Salário
0   Rafael    Professor   3500.0
1  Ricardo    Professor   3500.0
2  Ronaldo  Categoria A   8000.0
3    Vitor  Categoria A   2500.0
4   Rafael      Lavador   5000.0

# Filtrando Dados

In [140]:
df8

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
2  Ronaldo        Diretor    8000
3    Vitor  Desenvolvedor    2500
4   Rafael        Lavador    5000

In [142]:
df8[df8['Profissão'].isin(['Professor','Desenvolvedor'])]

      Nome      Profissão Salário
0   Rafael      Professor    3500
1  Ricardo      Professor    3500
3    Vitor  Desenvolvedor    2500

In [143]:
df6

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [147]:
df6.filter(regex='[NM]o.*',axis=1)

                      Nome                  Motor
0            Jetta Variant        Motor 4.0 Turbo
1                   Passat           Motor Diesel
2                 Crossfox        Motor Diesel V8
3                      DS5        Motor 2.4 Turbo
4         Aston Martin DB4        Motor 2.4 Turbo
..                     ...                    ...
253           Phantom 2013               Motor V8
254  Cadillac Ciel concept               Motor V8
255             Classe GLK  Motor 5.0 V8 Bi-Turbo
256       Aston Martin DB5           Motor Diesel
257                  Macan        Motor Diesel V6

[258 rows x 2 columns]

In [148]:
df6.index = df6['Nome']

In [149]:
df6

                                        Nome  ...      Valor
Nome                                          ...
Jetta Variant                  Jetta Variant  ...   88078.64
Passat                                Passat  ...  106161.94
Crossfox                            Crossfox  ...   72832.16
DS5                                      DS5  ...  124549.07
Aston Martin DB4            Aston Martin DB4  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                    Phantom 2013  ...   51759.58
Cadillac Ciel concept  Cadillac Ciel concept  ...   51667.06
Classe GLK                        Classe GLK  ...   68934.03
Aston Martin DB5            Aston Martin DB5  ...  122110.90
Macan                                  Macan  ...   90381.47

[258 rows x 7 columns]

In [154]:
df6.filter(regex = '^Pa.*', axis=0)

                            Nome  ...      Valor
Nome                              ...
Passat                    Passat  ...  106161.94
Palio Weekend      Palio Weekend  ...   97497.73
Pajero Sport        Pajero Sport  ...  106147.38
Pajero TR4            Pajero TR4  ...   51606.59
Passat Variant    Passat Variant  ...   69535.44
Palio Adventure  Palio Adventure  ...   95078.16
Parati                    Parati  ...  121708.73
Pajero Dakar        Pajero Dakar  ...   60998.33
Partner                  Partner  ...  114531.74

[9 rows x 7 columns]

In [156]:
df6.filter(like='Pa',axis=0)

                            Nome  ...      Valor
Nome                              ...
Passat                    Passat  ...  106161.94
Palio Weekend      Palio Weekend  ...   97497.73
Pajero Sport        Pajero Sport  ...  106147.38
Pajero TR4            Pajero TR4  ...   51606.59
Passat Variant    Passat Variant  ...   69535.44
C4 Pallas              C4 Pallas  ...   70424.11
Palio Adventure  Palio Adventure  ...   95078.16
Parati                    Parati  ...  121708.73
Pajero Dakar        Pajero Dakar  ...   60998.33
Partner                  Partner  ...  114531.74

[10 rows x 7 columns]

In [157]:
df6.filter(items=['Nome','Motor'],axis=1)

                                        Nome                  Motor
Nome
Jetta Variant                  Jetta Variant        Motor 4.0 Turbo
Passat                                Passat           Motor Diesel
Crossfox                            Crossfox        Motor Diesel V8
DS5                                      DS5        Motor 2.4 Turbo
Aston Martin DB4            Aston Martin DB4        Motor 2.4 Turbo
...                                      ...                    ...
Phantom 2013                    Phantom 2013               Motor V8
Cadillac Ciel concept  Cadillac Ciel concept               Motor V8
Classe GLK                        Classe GLK  Motor 5.0 V8 Bi-Turbo
Aston Martin DB5            Aston Martin DB5           Motor Diesel
Macan                                  Macan        Motor Diesel V6

[258 rows x 2 columns]

In [158]:
df6

                                        Nome  ...      Valor
Nome                                          ...
Jetta Variant                  Jetta Variant  ...   88078.64
Passat                                Passat  ...  106161.94
Crossfox                            Crossfox  ...   72832.16
DS5                                      DS5  ...  124549.07
Aston Martin DB4            Aston Martin DB4  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                    Phantom 2013  ...   51759.58
Cadillac Ciel concept  Cadillac Ciel concept  ...   51667.06
Classe GLK                        Classe GLK  ...   68934.03
Aston Martin DB5            Aston Martin DB5  ...  122110.90
Macan                                  Macan  ...   90381.47

[258 rows x 7 columns]

In [159]:
df6['Motor'].unique()

array(['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8',
       'Motor 2.4 Turbo', 'Motor 1.8 16v', 'Motor 1.0 8v',
       'Motor 3.0 32v', 'Motor 5.0 V8 Bi-Turbo', 'Motor Diesel V6',
       'Motor V6', 'Motor V8', 'Motor 2.0 16v'], dtype=object)

In [161]:
df6['Motor'].value_counts()

Motor 3.0 32v            27
Motor V8                 26
Motor Diesel             26
Motor 4.0 Turbo          25
Motor 1.0 8v             25
Motor Diesel V6          21
Motor Diesel V8          21
Motor 5.0 V8 Bi-Turbo    21
Motor V6                 20
Motor 1.8 16v            18
Motor 2.0 16v            18
Motor 2.4 Turbo          10
Name: Motor, dtype: int64

In [165]:
df6['Valor'].describe()

count       258.000000
mean      98960.513101
std       29811.932305
min       50742.100000
25%       70743.512500
50%       97724.380000
75%      124633.302500
max      149489.920000
Name: Valor, dtype: float64

In [166]:
df6.describe()

               Ano  Quilometragem          Valor
count   258.000000     197.000000     258.000000
mean   2007.511628   58278.421320   98960.513101
std       9.725906   35836.733259   29811.932305
min    1990.000000     107.000000   50742.100000
25%    1999.000000   27505.000000   70743.512500
50%    2008.000000   55083.000000   97724.380000
75%    2018.000000   90495.000000  124633.302500
max    2019.000000  119945.000000  149489.920000

In [169]:
df6.fillna(0).corr()

                    Ano  Quilometragem   Zero_km     Valor
Ano            1.000000      -0.455654  0.658572  0.062673
Quilometragem -0.455654       1.000000 -0.621228  0.058250
Zero_km        0.658572      -0.621228  1.000000  0.027366
Valor          0.062673       0.058250  0.027366  1.000000

In [181]:
df6

                                        Nome  ...      Valor
Nome                                          ...
Jetta Variant                  Jetta Variant  ...   88078.64
Passat                                Passat  ...  106161.94
Crossfox                            Crossfox  ...   72832.16
DS5                                      DS5  ...  124549.07
Aston Martin DB4            Aston Martin DB4  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                    Phantom 2013  ...   51759.58
Cadillac Ciel concept  Cadillac Ciel concept  ...   51667.06
Classe GLK                        Classe GLK  ...   68934.03
Aston Martin DB5            Aston Martin DB5  ...  122110.90
Macan                                  Macan  ...   90381.47

[258 rows x 7 columns]

In [184]:
df6 = df6.reset_index()

In [185]:
grupos = df6.groupby('Motor')

In [176]:
type(grupos)

pandas.core.groupby.generic.DataFrameGroupBy

In [186]:
grupos.groups

{'Motor 1.0 8v': Int64Index([  7,  17,  18,  20,  30,  32,  38,  44,  49,  51,  57,  67,  71,
              95, 144, 162, 170, 176, 197, 199, 206, 214, 228, 229, 252],
            dtype='int64'),
 'Motor 1.8 16v': Int64Index([  5,  42,  72,  88,  94, 105, 109, 113, 118, 134, 140, 143, 147,
             174, 190, 212, 223, 230],
            dtype='int64'),
 'Motor 2.0 16v': Int64Index([ 31,  33,  40,  59,  64,  75,  79,  90, 102, 138, 165, 171, 178,
             196, 225, 236, 239, 244],
            dtype='int64'),
 'Motor 2.4 Turbo': Int64Index([3, 4, 36, 39, 53, 98, 135, 139, 216, 222], dtype='int64'),
 'Motor 3.0 32v': Int64Index([  8,  16,  19,  27,  28,  46,  50,  61,  73,  91,  93, 100, 103,
             108, 114, 116, 117, 137, 156, 163, 164, 168, 177, 185, 186, 220,
             245],
            dtype='int64'),
 'Motor 4.0 Turbo': Int64Index([  0,   6,  26,  29,  43,  47,  87,  96, 112, 121, 126, 133, 152,
             158, 166, 167, 175, 179, 188, 203, 213, 215, 218, 238, 248],
            dtype='int64'),
 'Motor 5.0 V8 Bi-Turbo': Int64Index([  9,  14,  24,  45,  54,  55,  63,  65,  80,  84, 106, 129, 132,
             142, 151, 153, 160, 181, 195, 209, 255],
            dtype='int64'),
 'Motor Diesel': Int64Index([  1,  23,  60,  62,  69,  74,  78,  86,  89, 111, 119, 124, 145,
             148, 149, 157, 173, 189, 208, 210, 211, 226, 233, 237, 240, 256],
            dtype='int64'),
 'Motor Diesel V6': Int64Index([ 10,  22,  25,  68,  70,  82,  97, 123, 125, 141, 146, 150, 169,
             180, 183, 184, 205, 219, 234, 243, 257],
            dtype='int64'),
 'Motor Diesel V8': Int64Index([  2,  11,  15,  48,  85, 110, 120, 122, 127, 128, 159, 172, 182,
             187, 191, 193, 201, 202, 227, 231, 249],
            dtype='int64'),
 'Motor V6': Int64Index([ 12,  13,  37,  41,  56,  81,  83,  92, 101, 104, 131, 136, 155,
             200, 217, 224, 235, 241, 246, 247],
            dtype='int64'),
 'Motor V8': Int64Index([ 21,  34,  35,  52,  58,  66,  76,  77,  99, 107, 115, 130, 154,
             161, 192, 194, 198, 204, 207, 221, 232, 242, 250, 251, 253, 254],
            dtype='int64')}

In [195]:
grupos.max()[['Ano','Valor']]

                        Ano      Valor
Motor
Motor 1.0 8v           2019  146203.34
Motor 1.8 16v          2019  129296.11
Motor 2.0 16v          2019  142623.02
Motor 2.4 Turbo        2019  124549.07
Motor 3.0 32v          2019  149157.17
Motor 4.0 Turbo        2019  146405.79
Motor 5.0 V8 Bi-Turbo  2019  148996.47
Motor Diesel           2019  146716.91
Motor Diesel V6        2019  147627.81
Motor Diesel V8        2019  149489.92
Motor V6               2019  141982.93
Motor V8               2019  139661.48

In [198]:
grupos.describe()

                        Ano               ...        Valor
                      count         mean  ...          75%        max
Motor                                     ...
Motor 1.0 8v           25.0  2004.920000  ...  123911.7800  146203.34
Motor 1.8 16v          18.0  2010.388889  ...   97991.6950  129296.11
Motor 2.0 16v          18.0  2005.000000  ...  119520.6325  142623.02
Motor 2.4 Turbo        10.0  2010.700000  ...  119568.9350  124549.07
Motor 3.0 32v          27.0  2011.629630  ...  116870.3550  149157.17
Motor 4.0 Turbo        25.0  2008.080000  ...  120812.5700  146405.79
Motor 5.0 V8 Bi-Turbo  21.0  2006.857143  ...  127488.4200  148996.47
Motor Diesel           26.0  2007.384615  ...  137205.6025  146716.91
Motor Diesel V6        21.0  2001.428571  ...  125398.1100  147627.81
Motor Diesel V8        21.0  2008.952381  ...  135543.0000  149489.92
Motor V6               20.0  2007.050000  ...  130329.4950  141982.93
Motor V8               26.0  2008.461538  ...  127419.5050  139661.48

[12 rows x 24 columns]

In [200]:
grupos.describe()['Quilometragem']

                       count          mean  ...        75%       max
Motor                                       ...
Motor 1.0 8v            22.0  53586.318182  ...   79661.50  115930.0
Motor 1.8 16v           14.0  39850.214286  ...   53945.25  116002.0
Motor 2.0 16v           15.0  66863.933333  ...  104956.50  118236.0
Motor 2.4 Turbo          6.0  87847.500000  ...  102798.00  110966.0
Motor 3.0 32v           17.0  59909.588235  ...   85554.00  119760.0
Motor 4.0 Turbo         19.0  68533.368421  ...   94754.50  119945.0
Motor 5.0 V8 Bi-Turbo   17.0  39469.470588  ...   48509.00   95649.0
Motor Diesel            21.0  58930.809524  ...   99052.00  118895.0
Motor Diesel V6         18.0  56360.500000  ...   78861.75  114942.0
Motor Diesel V8         15.0  61855.600000  ...   90704.50  115607.0
Motor V6                16.0  58376.687500  ...   82148.50  119513.0
Motor V8                17.0  65207.529412  ...   90684.00  113808.0

[12 rows x 8 columns]

In [201]:
grupos2 = df6.groupby(['Motor','Ano'])

In [202]:
grupos2.groups

{('Motor 1.0 8v', 1991): Int64Index([144, 228], dtype='int64'),
 ('Motor 1.0 8v', 1993): Int64Index([170, 197], dtype='int64'),
 ('Motor 1.0 8v', 1994): Int64Index([67], dtype='int64'),
 ('Motor 1.0 8v', 1997): Int64Index([30, 229], dtype='int64'),
 ('Motor 1.0 8v', 1998): Int64Index([162], dtype='int64'),
 ('Motor 1.0 8v', 1999): Int64Index([214], dtype='int64'),
 ('Motor 1.0 8v', 2001): Int64Index([199], dtype='int64'),
 ('Motor 1.0 8v', 2002): Int64Index([20], dtype='int64'),
 ('Motor 1.0 8v', 2003): Int64Index([49, 95], dtype='int64'),
 ('Motor 1.0 8v', 2006): Int64Index([51], dtype='int64'),
 ('Motor 1.0 8v', 2007): Int64Index([71, 252], dtype='int64'),
 ('Motor 1.0 8v', 2009): Int64Index([7, 38], dtype='int64'),
 ('Motor 1.0 8v', 2014): Int64Index([206], dtype='int64'),
 ('Motor 1.0 8v', 2016): Int64Index([18], dtype='int64'),
 ('Motor 1.0 8v', 2018): Int64Index([32, 176], dtype='int64'),
 ('Motor 1.0 8v', 2019): Int64Index([17, 44, 57], dtype='int64'),
 ('Motor 1.8 16v', 1995): Int64Index([109], dtype='int64'),
 ('Motor 1.8 16v', 1996): Int64Index([134], dtype='int64'),
 ('Motor 1.8 16v', 1997): Int64Index([72], dtype='int64'),
 ('Motor 1.8 16v', 2000): Int64Index([230], dtype='int64'),
 ('Motor 1.8 16v', 2005): Int64Index([212], dtype='int64'),
 ('Motor 1.8 16v', 2006): Int64Index([118], dtype='int64'),
 ('Motor 1.8 16v', 2007): Int64Index([147], dtype='int64'),
 ('Motor 1.8 16v', 2011): Int64Index([223], dtype='int64'),
 ('Motor 1.8 16v', 2012): Int64Index([5], dtype='int64'),
 ('Motor 1.8 16v', 2013): Int64Index([113], dtype='int64'),
 ('Motor 1.8 16v', 2016): Int64Index([190], dtype='int64'),
 ('Motor 1.8 16v', 2017): Int64Index([105], dtype='int64'),
 ('Motor 1.8 16v', 2018): Int64Index([94, 174], dtype='int64'),
 ('Motor 1.8 16v', 2019): Int64Index([42, 88, 140, 143], dtype='int64'),
 ('Motor 2.0 16v', 1990): Int64Index([178], dtype='int64'),
 ('Motor 2.0 16v', 1991): Int64Index([33], dtype='int64'),
 ('Motor 2.0 16v', 1992): Int64Index([138], dtype='int64'),
 ('Motor 2.0 16v', 1994): Int64Index([75], dtype='int64'),
 ('Motor 2.0 16v', 1995): Int64Index([31], dtype='int64'),
 ('Motor 2.0 16v', 1996): Int64Index([196, 236], dtype='int64'),
 ('Motor 2.0 16v', 2001): Int64Index([64], dtype='int64'),
 ('Motor 2.0 16v', 2004): Int64Index([171], dtype='int64'),
 ('Motor 2.0 16v', 2007): Int64Index([225], dtype='int64'),
 ('Motor 2.0 16v', 2012): Int64Index([244], dtype='int64'),
 ('Motor 2.0 16v', 2013): Int64Index([40, 90], dtype='int64'),
 ('Motor 2.0 16v', 2014): Int64Index([239], dtype='int64'),
 ('Motor 2.0 16v', 2015): Int64Index([165], dtype='int64'),
 ('Motor 2.0 16v', 2019): Int64Index([59, 79, 102], dtype='int64'),
 ('Motor 2.4 Turbo', 1995): Int64Index([139], dtype='int64'),
 ('Motor 2.4 Turbo', 1997): Int64Index([135], dtype='int64'),
 ('Motor 2.4 Turbo', 2006): Int64Index([4, 53], dtype='int64'),
 ('Motor 2.4 Turbo', 2010): Int64Index([98], dtype='int64'),
 ('Motor 2.4 Turbo', 2017): Int64Index([222], dtype='int64'),
 ('Motor 2.4 Turbo', 2019): Int64Index([3, 36, 39, 216], dtype='int64'),
 ('Motor 3.0 32v', 1993): Int64Index([108], dtype='int64'),
 ('Motor 3.0 32v', 1996): Int64Index([164], dtype='int64'),
 ('Motor 3.0 32v', 1999): Int64Index([168], dtype='int64'),
 ('Motor 3.0 32v', 2002): Int64Index([28], dtype='int64'),
 ('Motor 3.0 32v', 2004): Int64Index([46, 163], dtype='int64'),
 ('Motor 3.0 32v', 2006): Int64Index([73, 100], dtype='int64'),
 ('Motor 3.0 32v', 2008): Int64Index([93], dtype='int64'),
 ('Motor 3.0 32v', 2009): Int64Index([50], dtype='int64'),
 ('Motor 3.0 32v', 2010): Int64Index([8], dtype='int64'),
 ('Motor 3.0 32v', 2012): Int64Index([16], dtype='int64'),
 ('Motor 3.0 32v', 2013): Int64Index([156, 220], dtype='int64'),
 ('Motor 3.0 32v', 2015): Int64Index([103], dtype='int64'),
 ('Motor 3.0 32v', 2017): Int64Index([19, 91], dtype='int64'),
 ('Motor 3.0 32v',
  2019): Int64Index([27, 61, 114, 116, 117, 137, 177, 185, 186, 245], dtype='int64'),
 ('Motor 4.0 Turbo', 1990): Int64Index([218], dtype='int64'),
 ('Motor 4.0 Turbo', 1991): Int64Index([29], dtype='int64'),
 ('Motor 4.0 Turbo', 1995): Int64Index([213], dtype='int64'),
 ('Motor 4.0 Turbo', 1996): Int64Index([152], dtype='int64'),
 ('Motor 4.0 Turbo', 2001): Int64Index([47], dtype='int64'),
 ('Motor 4.0 Turbo', 2002): Int64Index([43], dtype='int64'),
 ('Motor 4.0 Turbo', 2003): Int64Index([0, 96], dtype='int64'),
 ('Motor 4.0 Turbo', 2005): Int64Index([121, 167, 215], dtype='int64'),
 ('Motor 4.0 Turbo', 2007): Int64Index([203], dtype='int64'),
 ('Motor 4.0 Turbo', 2008): Int64Index([112], dtype='int64'),
 ('Motor 4.0 Turbo', 2009): Int64Index([179], dtype='int64'),
 ('Motor 4.0 Turbo', 2010): Int64Index([188], dtype='int64'),
 ('Motor 4.0 Turbo', 2011): Int64Index([87], dtype='int64'),
 ('Motor 4.0 Turbo', 2015): Int64Index([133], dtype='int64'),
 ('Motor 4.0 Turbo', 2016): Int64Index([26, 166], dtype='int64'),
 ('Motor 4.0 Turbo',
  2019): Int64Index([6, 126, 158, 175, 238, 248], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 1992): Int64Index([106], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 1994): Int64Index([55, 129], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 1996): Int64Index([65, 151], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 1999): Int64Index([80], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 2002): Int64Index([45, 160, 255], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 2006): Int64Index([181], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 2009): Int64Index([14], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 2010): Int64Index([54], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 2011): Int64Index([9, 63], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 2014): Int64Index([195], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo', 2015): Int64Index([153, 209], dtype='int64'),
 ('Motor 5.0 V8 Bi-Turbo',
  2019): Int64Index([24, 84, 132, 142], dtype='int64'),
 ('Motor Diesel', 1990): Int64Index([145], dtype='int64'),
 ('Motor Diesel', 1991): Int64Index([1, 23], dtype='int64'),
 ('Motor Diesel', 1993): Int64Index([226], dtype='int64'),
 ('Motor Diesel', 1996): Int64Index([210, 256], dtype='int64'),
 ('Motor Diesel', 1998): Int64Index([173], dtype='int64'),
 ('Motor Diesel', 2000): Int64Index([149], dtype='int64'),
 ('Motor Diesel', 2002): Int64Index([89, 211], dtype='int64'),
 ('Motor Diesel', 2004): Int64Index([240], dtype='int64'),
 ('Motor Diesel', 2007): Int64Index([69], dtype='int64'),
 ('Motor Diesel', 2009): Int64Index([157], dtype='int64'),
 ('Motor Diesel', 2013): Int64Index([74, 148], dtype='int64'),
 ('Motor Diesel', 2014): Int64Index([111], dtype='int64'),
 ('Motor Diesel', 2015): Int64Index([119, 208, 233], dtype='int64'),
 ('Motor Diesel', 2016): Int64Index([86], dtype='int64'),
 ('Motor Diesel', 2017): Int64Index([62], dtype='int64'),
 ('Motor Diesel', 2019): Int64Index([60, 78, 124, 189, 237], dtype='int64'),
 ('Motor Diesel V6', 1990): Int64Index([141, 180], dtype='int64'),
 ('Motor Diesel V6', 1991): Int64Index([183], dtype='int64'),
 ('Motor Diesel V6', 1992): Int64Index([184, 257], dtype='int64'),
 ('Motor Diesel V6', 1993): Int64Index([82], dtype='int64'),
 ('Motor Diesel V6', 1994): Int64Index([22, 70], dtype='int64'),
 ('Motor Diesel V6', 1995): Int64Index([169], dtype='int64'),
 ('Motor Diesel V6', 1998): Int64Index([123], dtype='int64'),
 ('Motor Diesel V6', 1999): Int64Index([125], dtype='int64'),
 ('Motor Diesel V6', 2001): Int64Index([219], dtype='int64'),
 ('Motor Diesel V6', 2002): Int64Index([10, 150], dtype='int64'),
 ('Motor Diesel V6', 2004): Int64Index([97], dtype='int64'),
 ('Motor Diesel V6', 2008): Int64Index([234], dtype='int64'),
 ('Motor Diesel V6', 2012): Int64Index([146], dtype='int64'),
 ('Motor Diesel V6', 2016): Int64Index([205], dtype='int64'),
 ('Motor Diesel V6', 2019): Int64Index([25, 68, 243], dtype='int64'),
 ('Motor Diesel V8', 1990): Int64Index([2], dtype='int64'),
 ('Motor Diesel V8', 1991): Int64Index([227], dtype='int64'),
 ('Motor Diesel V8', 1994): Int64Index([193], dtype='int64'),
 ('Motor Diesel V8', 2002): Int64Index([182], dtype='int64'),
 ('Motor Diesel V8', 2003): Int64Index([110, 128], dtype='int64'),
 ('Motor Diesel V8', 2005): Int64Index([187], dtype='int64'),
 ('Motor Diesel V8', 2007): Int64Index([11, 120, 231], dtype='int64'),
 ('Motor Diesel V8', 2009): Int64Index([127], dtype='int64'),
 ('Motor Diesel V8', 2010): Int64Index([249], dtype='int64'),
 ('Motor Diesel V8', 2013): Int64Index([172], dtype='int64'),
 ('Motor Diesel V8', 2016): Int64Index([15], dtype='int64'),
 ('Motor Diesel V8', 2017): Int64Index([122], dtype='int64'),
 ('Motor Diesel V8',
  2019): Int64Index([48, 85, 159, 191, 201, 202], dtype='int64'),
 ('Motor V6', 1993): Int64Index([136], dtype='int64'),
 ('Motor V6', 1994): Int64Index([131], dtype='int64'),
 ('Motor V6', 1995): Int64Index([83], dtype='int64'),
 ('Motor V6', 1996): Int64Index([246], dtype='int64'),
 ('Motor V6', 1997): Int64Index([217], dtype='int64'),
 ('Motor V6', 2001): Int64Index([12, 101], dtype='int64'),
 ('Motor V6', 2003): Int64Index([41], dtype='int64'),
 ('Motor V6', 2005): Int64Index([224], dtype='int64'),
 ('Motor V6', 2007): Int64Index([56, 81], dtype='int64'),
 ('Motor V6', 2008): Int64Index([241], dtype='int64'),
 ('Motor V6', 2011): Int64Index([247], dtype='int64'),
 ('Motor V6', 2013): Int64Index([155], dtype='int64'),
 ('Motor V6', 2016): Int64Index([92], dtype='int64'),
 ('Motor V6', 2018): Int64Index([104], dtype='int64'),
 ('Motor V6', 2019): Int64Index([13, 37, 200, 235], dtype='int64'),
 ('Motor V8', 1991): Int64Index([254], dtype='int64'),
 ('Motor V8', 1993): Int64Index([154, 198], dtype='int64'),
 ('Motor V8', 1994): Int64Index([251], dtype='int64'),
 ('Motor V8', 1995): Int64Index([35], dtype='int64'),
 ('Motor V8', 1997): Int64Index([161], dtype='int64'),
 ('Motor V8', 2000): Int64Index([52], dtype='int64'),
 ('Motor V8', 2001): Int64Index([107, 194], dtype='int64'),
 ('Motor V8', 2006): Int64Index([232], dtype='int64'),
 ('Motor V8', 2007): Int64Index([250], dtype='int64'),
 ('Motor V8', 2008): Int64Index([76, 77], dtype='int64'),
 ('Motor V8', 2010): Int64Index([192], dtype='int64'),
 ('Motor V8', 2014): Int64Index([34, 253], dtype='int64'),
 ('Motor V8', 2017): Int64Index([115], dtype='int64'),
 ('Motor V8',
  2019): Int64Index([21, 58, 66, 99, 130, 204, 207, 221, 242], dtype='int64')}

In [203]:
grupos2.describe()

                  Quilometragem           ...        Valor
                          count     mean  ...          75%        max
Motor        Ano                          ...
Motor 1.0 8v 1991           2.0  62162.0  ...   74616.3675   76310.01
             1993           2.0  62890.5  ...   79521.4100   80661.39
             1994           1.0  90495.0  ...  114154.8700  114154.87
             1997           2.0  35830.5  ...  108038.1050  120481.74
             1998           1.0  76453.0  ...   70424.1100   70424.11
...                         ...      ...  ...          ...        ...
Motor V8     2008           2.0  57209.0  ...  110049.3725  116281.21
             2010           1.0  75577.0  ...  139546.6900  139546.69
             2014           2.0  59094.5  ...   57952.6675   60017.03
             2017           1.0  10821.0  ...  139661.4800  139661.48
             2019           0.0      NaN  ...  126247.8400  131961.43

[165 rows x 16 columns]

In [206]:
grupos2.describe().loc['Motor 1.0 8v'].loc[1991].to_frame()

                              1991
Quilometragem count       2.000000
              mean    62162.000000
              std     76039.434822
              min      8394.000000
              25%     35278.000000
              50%     62162.000000
              75%     89046.000000
              max    115930.000000
Valor         count       2.000000
              mean    72922.725000
              std      4790.344387
              min     69535.440000
              25%     71229.082500
              50%     72922.725000
              75%     74616.367500
              max     76310.010000